@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

.card {
    background-color: #f8ed53;
    color: black;
  }

body {
    background-color: #103fbe; /* ou qualquer cor que você quiser */
    color: rgb(102, 104, 105); /* isso deixa o texto preto para combinar com o fundo */
  }
:root {
    --cor-principal: #444242;
    --cor-secundaria: #000000;
    --cor-destaque: #34383d;
}

body {
    font-family: 'Chakra Petch', sans-serif;
    color: var(--cor-principal);
}

h1, h2, h5 {
    color: var(--cor-secundaria);
    font-weight: 700;
}

.lead, .btn-link {
    color: var(--cor-destaque);
    font-weight: 700;
}

a, .btn-link:hover {
    color: var(--cor-principal)
}

a:hover{
    color: var(--cor-destaque);
}

p#saulo, h3#tesao {color: white;}

.jogo, .começo {color: white;}

.you {
    color: rgb(245, 228, 0);
}

button#projeto, button#vejao, button#nao  {
    color: rgb(78, 211, 38);

}

